*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Courier New', courier;
    font-size:  18px;
    background-image: url(../imagenes/fond1.png);
    height: max-content;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
    
 
}
.cuadrado{
    display: flex;
    text-align: center;
    background-color: #000000;
}
.texto{
    margin-top: 100px;
    margin-left: 25px;
    color: white;
    text-align: left;
    
}
.perfil{
    margin-top: 45px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

header{
    text-align: center;
}

.perfil1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: 0 0 0.2em rgb(12, 30, 185), 0 0 0.2em rgb(12, 30, 185);
}
ul{
    list-style: none;
}
.menu{
    text-decoration: none;
    width: 400px;
    text-align: left;
    background: #070707;
    margin: auto;
    padding: 50px;
    margin-top: 45px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #1f53c5;
    margin-bottom: 45px;
}
li{
    text-shadow: 0 0 0.2em rgb(12, 30, 185), 0 0 0.2em rgb(12, 30, 185);

}
a{
    color: aqua;
}
.menu a, .menu li{
   margin: 10px;
   text-decoration: none;
} 

main{
    text-align: center;
    
}
footer{
    
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: white;
    background-color: rgb(0, 0, 0);
    text-shadow: 0 0 0.2em rgb(12, 30, 185), 0 0 0.2em rgb(12, 30, 185);

}